#Scenario

A local shop specializes in buying, repairing, and selling discontinued electronics. Old gaming consoles are a significant revenue stream for them. To optimize pricing and prioritize repairs, the shop has compiled historical sales data for these consoles. Let's examine the dataset, which is provided as a nested list in the console_data variable:

In [2]:
console_data = [['NES', 'Nintendo', 1985, 1995, 179.0, 61910000],
                ['Game Boy', 'Nintendo', 1989, 2003, 89.99, 118690000],
                ['SNES', 'Nintendo', 1990, 2003, 199.0, 49100000],
                ['Virtual Boy', 'Nintendo', 1995, 1996, 179.95, 770000],
                ['Game Boy Advance', 'Nintendo', 2001, 2010, 99.99, 81510000],
                ['Atari 2600', 'Atari', 1977, 1992, 199.0, 30000000],
                ['Sega Genesis', 'Sega', 1988, 1997, 189.0, 30750000],
                ['Game Gear', 'Sega', 1990, 1997, 149.99, 10620000],
                ['Sega CD', 'Sega', 1991, 1996, 299.0, 2240000],
                ['3DO', 'The 3DO Company', 1993, 1996, 699.99, 2000000],
                ['PlayStation', 'Sony Electronics', 1994, 2006, 299.0, 102490000],
                ['PlayStation 2', 'Sony Electronics', 2000, 2013, 299.0, 155000000]]

This dataset contains the following information for each console:

**console**: The name of the gaming console.  
**company**: The manufacturer of the console.  
**release_year**: The year the console was first released.  
**discontinued_year**: The year the console was discontinued.  
**release_price**: The initial retail price of the console.  
**units_sold**: The total number of units sold during its product run.

##Task 1: Displaying the Dataset

###Question 1a: Basic Display

Print each row of the console_data on its own line.

In [3]:
for row in console_data:
    print(row)
print()

['NES', 'Nintendo', 1985, 1995, 179.0, 61910000]
['Game Boy', 'Nintendo', 1989, 2003, 89.99, 118690000]
['SNES', 'Nintendo', 1990, 2003, 199.0, 49100000]
['Virtual Boy', 'Nintendo', 1995, 1996, 179.95, 770000]
['Game Boy Advance', 'Nintendo', 2001, 2010, 99.99, 81510000]
['Atari 2600', 'Atari', 1977, 1992, 199.0, 30000000]
['Sega Genesis', 'Sega', 1988, 1997, 189.0, 30750000]
['Game Gear', 'Sega', 1990, 1997, 149.99, 10620000]
['Sega CD', 'Sega', 1991, 1996, 299.0, 2240000]
['3DO', 'The 3DO Company', 1993, 1996, 699.99, 2000000]
['PlayStation', 'Sony Electronics', 1994, 2006, 299.0, 102490000]
['PlayStation 2', 'Sony Electronics', 2000, 2013, 299.0, 155000000]

###Question 1b: Formatted Display

Print each row with elements left-aligned and a fixed string length of 20 characters for better readability.

In [4]:
for row in console_data:
    for column in row:
        print(f'{column:<20}', end='')
    print()

NES                 Nintendo            1985                1995                179.0               61910000
Game Boy            Nintendo            1989                2003                89.99               118690000
SNES                Nintendo            1990                2003                199.0               49100000
Virtual Boy         Nintendo            1995                1996                179.95              770000
Game Boy Advance    Nintendo            2001                2010                99.99               81510000
Atari 2600          Atari               1977                1992                199.0               30000000
Sega Genesis        Sega                1988                1997                189.0               30750000
Game Gear           Sega                1990                1997                149.99              10620000
Sega CD             Sega                1991                1996                299.0               2240000
3DO                 The 3DO Company     1993                1996                699.99              2000000
PlayStation         Sony Electronics    1994                2006                299.0               102490000
PlayStation 2       Sony Electronics    2000                2013                299.0               155000000

##Task 2: Retrieving Specific Data

###Question 2:

Print the row containing data for the "Sega CD".
Print the number of "Game Boy" consoles sold.

In [5]:
for console in console_data:
    if console[0] == "Sega CD":
        print(console)

for console in console_data:
    if console[0] == "Game Boy":
        print(console[5])

['Sega CD', 'Sega', 1991, 1996, 299.0, 2240000]
118690000

##Task 3: Accessing Columns and Calculating Totals

###Question 3a: Printing a Column

Print the first column, containing the names of the consoles.

In [6]:
for console in console_data:
    print(console[0])

NES
Game Boy
SNES
Virtual Boy
Game Boy Advance
Atari 2600
Sega Genesis
Game Gear
Sega CD
3DO
PlayStation
PlayStation 2

###Question 3b: Total Units Sold

Calculate and print the total number of consoles sold across all types.

In [7]:
total_sold = 0
for console in console_data:
    total_sold += console[5]

print(total_sold)

645080000

##Task 4: Conditional Calculations

###Question 4a: Nintendo Units Sold

Calculate and print the total number of units sold for consoles manufactured by Nintendo.

In [8]:
nintendo_sold = 0
for console in console_data:
    if console[1] == 'Nintendo':
        nintendo_sold += console[5]

print(nintendo_sold)

311980000

###Question 4b: Early Sega and PlayStation Units Sold

Calculate and print the total units sold for Sega consoles and the original PlayStation released before 1995.

In [9]:
early_units_sold = 0
for console in console_data:
    if console[2] < 1995:
        if console[1] == 'Sega' or console[0] == 'PlayStation':
            early_units_sold += console[5]

print(early_units_sold)

146100000

##Task 5: Adding a New Metric - Lifespan

###Question 5: Calculating and Appending Lifespan

Calculate the lifespan of each console (discontinued year - release year) and append it as a new element to each row in console_data. Then, print the updated dataset.

In [10]:
for row in console_data:
    lifespan = row[3] - row[2]
    row.append(lifespan)

for row in console_data:
    for elem in row:
        print(f'{elem:<20}', end='')
    print()

NES                 Nintendo            1985                1995                179.0               61910000            10
Game Boy            Nintendo            1989                2003                89.99               118690000           14
SNES                Nintendo            1990                2003                199.0               49100000            13
Virtual Boy         Nintendo            1995                1996                179.95              770000              1
Game Boy Advance    Nintendo            2001                2010                99.99               81510000            9
Atari 2600          Atari               1977                1992                199.0               30000000            15
Sega Genesis        Sega                1988                1997                189.0               30750000            9
Game Gear           Sega                1990                1997                149.99              10620000            7
Sega CD             Sega                1991                1996                299.0               2240000             5
3DO                 The 3DO Company     1993                1996                699.99              2000000             3
PlayStation         Sony Electronics    1994                2006                299.0               102490000           12
PlayStation 2       Sony Electronics    2000                2013                299.0               155000000           13

##Task 6: Sorting Data by Lifespan

###Question 6: Sorting by Lifespan (Longest to Shortest)

Sort the console_data based on the calculated lifespan (the last element of each row) in descending order and store it in sorted_lifespan_data. Then, print the sorted data.

In [11]:
def key(row):
    return row[-1]

sorted_lifespan_data = sorted(console_data, key=key, reverse=True)

for row in sorted_lifespan_data:
    for elem in row:
        print(f'{elem:<20}', end='')
    print()

Atari 2600          Atari               1977                1992                199.0               30000000            15
Game Boy            Nintendo            1989                2003                89.99               118690000           14
SNES                Nintendo            1990                2003                199.0               49100000            13
PlayStation 2       Sony Electronics    2000                2013                299.0               155000000           13
PlayStation         Sony Electronics    1994                2006                299.0               102490000           12
NES                 Nintendo            1985                1995                179.0               61910000            10
Game Boy Advance    Nintendo            2001                2010                99.99               81510000            9
Sega Genesis        Sega                1988                1997                189.0               30750000            9
Game Gear           Sega                1990                1997                149.99              10620000            7
Sega CD             Sega                1991                1996                299.0               2240000             5
3DO                 The 3DO Company     1993                1996                699.99              2000000             3
Virtual Boy         Nintendo            1995                1996                179.95              770000              1

##Task 7: Calculating and Sorting by Revenue

###Question 7: Calculating and Sorting by Total Revenue

Calculate the total revenue for each console (release price * units sold) and append it as a new element to each row in the original console_data. Then, sort the console_data based on this calculated revenue in descending order and print the result.

In [12]:
for row in console_data:
    revenue_data = row[4] * row[5]
    row.append(revenue_data)

sorted_revenue_data = sorted(console_data, key=lambda row: row[-1], reverse=True)

for row in sorted_revenue_data:
    for elem in row:
        print(f'{elem:<20}', end='')
    print()

PlayStation 2       Sony Electronics    2000                2013                299.0               155000000           13                  46345000000.0
PlayStation         Sony Electronics    1994                2006                299.0               102490000           12                  30644510000.0
NES                 Nintendo            1985                1995                179.0               61910000            10                  11081890000.0
Game Boy            Nintendo            1989                2003                89.99               118690000           14                  10680913100.0
SNES                Nintendo            1990                2003                199.0               49100000            13                  9770900000.0
Game Boy Advance    Nintendo            2001                2010                99.99               81510000            9                   8150184900.0
Atari 2600          Atari               1977                1992                199.0               30000000            15                  5970000000.0
Sega Genesis        Sega                1988                1997                189.0               30750000            9                   5811750000.0
Game Gear           Sega                1990                1997                149.99              10620000            7                   1592893800.0
3DO                 The 3DO Company     1993                1996                699.99              2000000             3                   1399980000.0
Sega CD             Sega                1991                1996                299.0               2240000             5                   669760000.0
Virtual Boy         Nintendo            1995                1996                179.95              770000              1                   138561500.0

#Recommendations & Next Steps

- Based on the revenue analysis, prioritize acquiring and repairing PlayStation 2, PlayStation, and NES consoles. These generate the highest revenue and are likely to be the most profitable.  
- Consider the lifespan analysis in conjunction with revenue. Consoles with a long lifespan (e.g., Atari 2600, Game Boy) might have a steady demand, even if the revenue per unit is lower. This could be a good diversification strategy.  
- Analyze the price elasticity of demand. How do changes in price affect the sales volume for different consoles? This could require additional data collection or experimentation.  

Future Dataset Inclusions:
- **Repair costs**: To calculate actual profit margins.
- **Sales volume over time**: Instead of just total units sold, get data on sales per year to understand trends.
- **Online marketplace data**: Compare prices and demand on platforms like eBay.
- **Game sales data**: Analyze if the availability of popular games influences console sales.